body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inicio{
    border: 1px solid #111;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    width: 27rem;
    height: 37rem;
}
.forma{
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-color: #1c1c2c;
    background-size: cover;
    height: 100%;   
}

h1{
    display: grid;
    place-content: center;
    margin-top: -5rem;
    font-size: 2.5rem;
    margin-bottom: 75px;
    color: white;
}

input{
    background: transparent;
    width: 18rem;
    height: 1.5rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 5px;
}

::placeholder{
    color: rgb(120, 116, 119);
    padding: 4px;
}

label{
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

button{
    margin-top: 2rem;
    width: 19rem;
    height: 2.4rem;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 1rem;
    background-color: gray;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}